{% extends "base-left.html" %}
{#{% extends "gentelella/base_site.html" %}#}
{% load staticfiles %}
{# 页面样式引用 #}
{% block css %}
    <link rel="stylesheet" href="{% static 'jsmap/leaflet.css' %}">
    <style>
        .test{
            margin-top: 40px;
            height: 800px;
        }
    </style>
{% endblock css %}

{# 页面内容显示 #}
{% block content %}
    <div id="mapDiv" class='test'></div>
{% endblock content %}


{# 页面js显示 #}
{% block javascripts %}
    <script src="{% static 'jsMap/leaflet.js' %}"></script>
    <script src="{% static 'jsMap/leaflet.ChineseTmsProviders.js' %}"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fuse.js/1.2.2/fuse.min.js"></script>
    <script>
        var test = L.tileLayer.chinaProvider('Geoq.Normal.Map', {
            maxZoom: 18,
            minZoom: 5
        });
        var baseLayers = {"测试地图":test}

        var map = L.map("mapDiv", {
            center: [39.90, 116.39],
            zoom: 7,
            layers: [test],
            zoomControl: false
        });
        var html= '<div style="" onclick="change()">'+
                    '<b>简单内容</b></br><button>进入详情</button>'+'</div>'
        var markers=[];
        var marker1 =L.marker([39.90, 116.39]).addTo(map)
                        .bindPopup(html, { minWidth: 50 }).openPopup();

        var popup = L.popup();
        function onMapClick(e) {
            popup.setLatLng(e.latlng).setContent("你在经纬度为" + e.latlng.toString() + "这个点上").openOn(map);
        }
        map.on('click', onMapClick);

        L.control.layers(baseLayers, null).addTo(map);
        L.control.zoom({
            zoomInTitle: '放大',
            zoomOutTitle: '缩小'
        }).addTo(map);

        function change(){
            alert("22222222222222222")
        }
    </script>
{% endblock %}

